.App {
  text-align: center;
  margin: 15px 50px;
}

a {
  color: #ae6d8b;
}

.Nav li {
  text-transform: uppercase;
  margin: 0 10px;
}

li {
    display: inline-block;
}

li.Bear {
  margin: 15px;
}

h2 {
  color: #000000;
}

.btn {
  margin: 15px 0 0 0;
  background-color: #ae6d8b;
}

.btn:hover {
  background-color: #ad517a;
}

.Content {
  text-align: left;
}

.Subject {
  margin-left: 35px;
}

img {
  height: 200px;
}

.BearTypes {
  margin: 20px 0;
}

/*Recipe Table*/
th {
  width: 50%;
}
table {
  width: 80%;
}
img.PiePic {
  margin: 100px 0;
  width: 30%;
  height: auto;
  position: absolute;
}
